In [8]:
# Loading required package

import boto3
from io import BytesIO
import pandas as pd

In [14]:
# you need to change the credentials for yourself

s3 = boto3.client('s3',
                  aws_access_key_id='ASIAYAAO5HRMJMRLFNEV',
                  aws_secret_access_key='OmjW2zoE3JC6LlNIjnda3kOu3dmSPoDfbmMQ/IbB',
                  aws_session_token='IQoJb3JpZ2luX2VjEHcaCXVzLWVhc3QtMiJIMEYCIQCt2yCpf/LpttOzNqgAhxPUj0o1tskL/INcjBeX+B1U8gIhAMFUCc9vxLD3x/9uywMk0shCMetFgh46iIWlSd1la8Y/KvQCCLD//////////wEQABoMNTQ5Nzg3MDkwMDA4Igwv9SCeu1LzICa6EN0qyALjZdtjR/nWYNXOmNVUsHS2wOhKf/RZ5xFZjoPeS7XUucqKxiclkVq2ymuVWEFLBMHxDTgB5KkxchuhjtIAGBNu8RqLbFyLESgizT6pd7KBPQ7pJvtYZZKs8RStWAo+q7/L3XmUa39Bkp4MoI0oKuH4XGthKMml5K6kZzh+GV6/d4s/NWEps0NMqqNi2tnx1YToEi2Hch42pswLxpI7iN1Ptdof9YuuuU213AEdQDd3BpRwAfhpqpSnj5pFbXdbmL2H/T6yQb32TexHNTKSj6EM/i4iSkzbacC6MwF1XmlD4YbXAcAs0C6R4vv+6FpQEdm3jP9FIYBS5LAceJU084YNjTtqecNy/hmpMe7SegwQoOt58vOM6U7fLHDFqKAyHkZIEG/qNpp46XqKc3LpjZhIQSui/FDEkRxiU83ChH2NSl7j72qlod4NMLrW9rAGOqYBK+en/s16z/mUNds+IpjpySlg3v3zXv7rdvvjRB+DpMcOPfrGKjcnRLul4lgSly2Cr/GOhQf5JiEVSdW6bR27F95n0+ljcpguPlXz2RxOd71BC3slPXxopAD9wm//xMeRngpqFC2ZsIYvSCe+Cu1GRED0Tm1xyDX0xW0CIhlVf4zU89OXadfXPkxYXPnzr9r4w3HvjjJDt+rKQJmHASQ+TY8QXHiLLw==')

bucket_name = 'de300spring2024'
object_key = 'robert_su/sample_dataset.csv'

In [15]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [16]:
df = pd.read_csv(BytesIO(csv_string.encode()))
print(df.head())

   ID           Name  Age         City
0   1       John Doe   28     New York
1   2     Jane Smith   32  Los Angeles
2   3    Emily Davis   45      Chicago
3   4  Michael Brown   22        Miami